@import "@/styles/colors.scss";

.select {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  font-size: large;
  user-select: none;
  margin: 0.5rem;

  width: 100%;
  max-width: 24rem;

  label {
    text-align: left;
    width: 8rem;
  }
  
  select {
    display: inline-block;
    font-size: large;

    width: 100%;

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;

    border: 1px solid shade($primary-color, 20);
    background-color: shade($primary-color, 20);
    border-radius: 0.5rem;

    color: $fourth-color;
    
    transition: all 0.25s ease-in-out;
    
    &:not(:disabled):hover {
      border: 1px solid $fourth-color;
      background-color: shade($primary-color, 40);
    }
    
    &:not(:disabled):focus {
      outline: none;
      background-color: $fourth-color;
      color: shade($primary-color, 40);
    }
    
    &:disabled {
      border: 1px solid shade($primary-color, 40);
      background-color: shade($primary-color, 40);
      color: $fourth-color;
    }

    &::placeholder {
      color: shade($fourth-color, 50);
    }

    &[type="radio"] {
      appearance: none;
      margin: auto;
      text-align: center;

      width: 100%;

      &::before {
        content: attr(data-content);
      }

      &:checked {
        background-color: $fourth-color;
        color: shade($primary-color, 40);
      }
    }
  }

}
